{% extends "layout.html" %}
{% block content %}
<div class="container mt-4">
  <h2>Create School Register for {{ school.name }}</h2>

  <h3>Register for {{ week.label }}</h3>
  <form method="POST">

    {% if school and week %}
    <!-- Attendance Table -->
    <div class="table-responsive mt-4">
      <table class="table table-bordered">
        <thead class="table-light">
          <tr>
            <th>Employee</th>
            {% for day_offset in range(5) %}
              {% set day_date = week.start_date + day_offset|timedelta %}
              <th>{{ day_date.strftime("%A") }}<br>{{ day_date.strftime("%d %b") }}</th>
            {% endfor %}
          </tr>
        </thead>
        <tbody>
          {% for emp in school.employees|sort(attribute="surname") %}
          <tr>
            <th> {{ emp}}</th>
            <td>{{ emp.surname }}, {{ emp.firstname }}</td>
            {% for day_offset in range(5) %}
              {% set day_date = week.start_date + day_offset|timedelta %}
              {% set day_name = day_date.strftime("%A") %}
              <td>
                <select class="form-select form-select-sm"
                        name="status_{{ emp.id }}_{{ day_name }}">
                    {% for status in statuses %}
                      <option value="{{ status }}"
                        {% if loop.index0 == default_status_index %}selected{% endif %}>
                        {{ status }}
                      </option>
                    {% endfor %}
                </select>
              </td>
            {% endfor %}
          </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
    {% endif %}

    <div class="mb-2 pt-2">
      <label class="form-label">Notes</label>
      <textarea name="notes" class="form-control form-control-sm" rows="2" placeholder="Add notes...">{{ existing_notes if existing_notes else '' }}</textarea>
    </div>

    <button type="submit" class="btn btn-primary mt-3">Save Register</button>
  </form>
</div>
{% endblock %}
