{% extends "layout.html" %}

{% block head %}
  <link rel="stylesheet" href="https://cdn.datatables.net/1.13.8/css/jquery.dataTables.min.css">
  <style>
    #reportTable tbody tr:nth-child(odd)  { background-color: #f9f9f9; }
/* White for even rows */
    #reportTable tbody tr:nth-child(even) { background-color: #ffffff; }
  </style>
{% endblock %}

{% block title %}Register Report{% endblock %}
{% block content %}
<div class="container mt-4">
  <h2>Register Report</h2>
  <div>
    <form class="form mb-3" method="GET">
      <div class="form-group">
        <label for="start_week" class="form-label">Start Week:</label>
        <select id="start_week" class="form-select form-select-sm" name="start_week">
            {% for week in weeks %}
                <option value="{{ week.id }}" {% if week.id == request.args.get('start_week', 1)|int %}selected{% endif %}>
                    {{ week.label }} ({{ week.start_date.strftime("%d %b %Y") }} - {{ week.end_date.strftime("%d %b %Y") }})
                </option>
            {% endfor %}
        </select>
      </div>
      <div class="form-group mt-2">
        <label for="end_week" class="form-label">End Week:</label>
        <select id="end_week" class="form-select form-select-sm" name="end_week">
            {% for week in weeks %}
                <option value="{{ week.id }}" {% if week.id == request.args.get('end_week', weeks|length)|int %}selected{% endif %}>
                    {{ week.label }} ({{ week.start_date.strftime("%d %b %Y") }} - {{ week.end_date.strftime("%d %b %Y") }})
                </option>
            {% endfor %}  
        </select>
      </div>
        <button type="submit" class="btn btn-primary btn-sm mt-2">Generate Report</button> 
        <buttun role="button" id="download-btn" class="btn btn-secondary btn-sm mt-2">Download Report</buttun>
    </form>
  </div>
  <div>
    <table class="table table-bordered table-sm" id="reportTable">
      <thead class="table-light">
        <tr>
          {% for header in headers %}
            <th>{{ header }}</th>
          {% endfor %}
        </tr>
      </thead>
      <tbody>
        {% for row in report_data %}
          <tr>
            <td>{{ row["school"].emis }}</td>
            <td>{{ row["school"].name }}</td>
            <td>{{ row["circuit"] }}</td>
            <td>{{ row["submitted_registers_count"] }}</td>
            <td>{{ row["needed_registers_count"] }}</td>
            <td>{{ row["not_submitted"] }}</td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>
{% endblock %}
{% block scripts %}
  <script src="https://cdn.jsdelivr.net/npm/xlsx/dist/xlsx.full.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.datatables.net/1.13.8/js/jquery.dataTables.min.js"></script>
  <script>
    document.getElementById('download-btn').addEventListener('click', function() {
      var table = document.querySelector('#reportTable');
      var workbook = XLSX.utils.table_to_book(table, {sheet: "Report"});
      var d = new Date();
      var pad = n => n.toString().padStart(2, '0');
      var dateTime = `${d.getFullYear()}-${pad(d.getMonth()+1)}-${pad(d.getDate())}_`
                      + `${pad(d.getHours())}-${pad(d.getMinutes())}-${pad(d.getSeconds())}`;

      var filename = `register_report_${dateTime}.xlsx`;
      XLSX.writeFile(workbook, filename);
    });

    $(document).ready(function() {
        $('#reportTable').DataTable({paging: false, searching: false, info: false});
    });
  </script>
{% endblock %}