{% extends "layout.html" %}
{% block content %}
<h2>{{ school.name }}</h2>

<a role="button" href="{{ url_for('upload.upload_schools') }}">Bulk insert</a>

<h3>Registers</h3>

<table>
    <thead>
        <tr>
            <th>
                Week Label
            </th>
            <th>
                Start Date
            </th>
            <th>
                End Date
            </th>
            <th>
                Attendents
            </th>
            <th>
                Leaves (all)
            </th>
            <th>
                Absents
            </th>
            <th>
                Notes
            </th>
        </tr>
    </thead>
    <tbody>
        {% for week in work_weeks %}
        {% set register = school.get_register(week) %}
        {% if register %}
            <tr>
                <td>
                    {{register.work_week.label}}
                </td>
                <td>
                    {{register.work_week.start_date}}
                </td>
                <td>
                    {{register.work_week.end_date}}
                </td>
                <td>
                    {{register.get_status_count("present")}}
                </td>
                <td>
                    {{
                        register.get_status_count("sick leave") + 
                        register.get_status_count("annual leave")+
                        register.get_status_count("special leave")+
                        register.get_status_count("other leave") +
                        register.get_status_count("family resp leave")+
                        register.get_status_count("pre-natal leave")+
                        register.get_status_count("recess or holiday")+
                        register.get_status_count("parternal leave")+
                        register.get_status_count("maternity leave")
                    }}                 
                </td>
                <td>
                    {{register.get_status_count("absent")}}
                </td>
                <td>
                    {{register.notes}}
                </td>
                <td>
                    <!-- <a href="{{ url_for('school.edit',id=s.id)}}">Edit</a> -->
                </td>
            </tr>
            {% else %}
                <tr>
                    <th colspan="7">
                        The register for this week has not been recorded
                    </th>
                    <th></th>
                </tr>
            {% endif %}
        {% endfor %}
    </tbody>
</table>

{% endblock %}